<a href="https://colab.research.google.com/github/obeabi/SdsNovember2020Challenge/blob/main/Main_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Written by Abiola Obembe
# SDS October Challenge #3 - Fraudulent Job Adverts
## 2021-01-19

## Data Preprocessing

In [2]:
# Import category_encoders package
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 4.3MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [13]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from scipy.stats import f_oneway
from scipy.stats import  zscore
import category_encoders as ce
import warnings
warnings.filterwarnings("ignore", category= FutureWarning)

%matplotlib inline
plt.rcParams['figure.figsize'] = (8.0, 6.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

print('Libraries installed successfully!')

np.random.seed(0)

Libraries installed successfully!

In [14]:
# Importing the training dataset

df_train = pd.read_csv('public_jobs.csv', engine= 'python', encoding= 'latin1')

df_train.head()

                                               title  ... fraudulent
0              Sales Professional - Buiding Products  ...          0
1                           Senior Software Engineer  ...          0
2       Director of Operations (SCM & Manufacturing)  ...          0
3  Data Center Migration App Lead for FULL-TIME O...  ...          1
4                      Data Entry Assistant - Intern  ...          0

[5 rows x 17 columns]

In [15]:
# priniting the details about the train dataset

print("\nEDA on Training Set\n")
print("#"*30)

print("\nFeatures/Columns : \n", df_train.columns)
print("\n\nNumber of Features/Columns : ", len(df_train.columns))
print("\nNumber of Rows : ",len(df_train))
print("\n\nData Types :\n", df_train.dtypes)

print("\n Contains NaN/Empty cells : ", df_train.isnull().values.any())

print("\n Total empty cells by column :\n", df_train.isnull().sum(), "\n\n")

print("\n Perecentage of missing values in train datframe is: \n", str(100*(df_train.isnull().sum().sum()/(df_train.shape[0]* df_train.shape[1])))+'%')

EDA on Training Set

##############################

Features/Columns :
 Index(['title', 'location', 'department', 'salary_range', 'company_profile',
       'description', 'requirements', 'benefits', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')


Number of Features/Columns :  17

Number of Rows :  14304


Data Types :
 title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

 Contains NaN/Empty cells :  True

 Total empty cells by column :
 title                      0
location                 275
department              9182
salary_range           11979
company_profile         2653
description                1
requirements            2149
benefits                5758
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         2762
required_experience     5630
required_education      6467
industry                3900
function                5160
fraudulent                 0
dtype: int64



 Perecentage of missing values in train datframe is:
 22.994801947624687%

In [16]:
# Importing the test dataset

df_test = pd.read_csv('pred_jobs.csv', engine= 'python', encoding= 'latin1')

df_test.head()

                                          title  ...                function
0  Part-time Pizza Delivery Drivers - Wallasey   ...                     NaN
1         Director of Contact Center Operations  ...              Management
2                 Technical Solution Consultant  ...  Information Technology
3      Vacancies At The Cafe Royal Hotel London  ...                     NaN
4     Car Dealer Sales Manager/Customer Service  ...                   Sales

[5 rows x 16 columns]

In [8]:

# priniting the details about the test dataset

print("#"*30)
print("\nEDA on Test Set\n")
print("#"*30)


print("\nFeatures/Columns : \n",df_test.columns)
print("\n\nNumber of Features/Columns : ",len(df_test.columns))
print("\nNumber of Rows : ",len(df_test))
print("\n\nData Types :\n", df_test.dtypes)
print("\n Contains NaN/Empty cells : ", df_test.isnull().values.any())
print("\n Total empty cells by column :\n", df_test.isnull().sum())
print("\n Perecentage of missing values in test datframe is: \n", str(100*(df_test.isnull().sum().sum()/(df_test.shape[0]* df_test.shape[1])))+'%')

##############################

EDA on Test Set

##############################

Features/Columns :
 Index(['title', 'location', 'department', 'salary_range', 'company_profile',
       'description', 'requirements', 'benefits', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function'],
      dtype='object')


Number of Features/Columns :  16

Number of Rows :  3576


Data Types :
 title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
dtype: object

 Contains NaN/Empty cells :  True

 Total empty cells by column :
 title                     0
location                 71
department             2365
salary_range           3033
company_profile         655
description               0
requirements            546
benefits               1452
telecommuting             0
has_company_logo          0
has_questions             0
employment_type         709
required_experience    1420
required_education     1638
industry               1003
function               1295
dtype: int64

 Perecentage of missing values in test datframe is:
 24.795511744966444%

In [9]:
# Retrrieve information from train dataframe
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14304 entries, 0 to 14303
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                14304 non-null  object
 1   location             14029 non-null  object
 2   department           5122 non-null   object
 3   salary_range         2325 non-null   object
 4   company_profile      11651 non-null  object
 5   description          14303 non-null  object
 6   requirements         12155 non-null  object
 7   benefits             8546 non-null   object
 8   telecommuting        14304 non-null  int64
 9   has_company_logo     14304 non-null  int64
 10  has_questions        14304 non-null  int64
 11  employment_type      11542 non-null  object
 12  required_experience  8674 non-null   object
 13  required_education   7837 non-null   object
 14  industry             10404 non-null  object
 15  function             9144 non-null   object
 16  fraudulent           14304 non-null  int64
dtypes: int64(4), object(13)
memory usage: 1.9+ MB

In [10]:
# Retrieve statistics of train dataframe
df_train.describe()

       telecommuting  has_company_logo  has_questions    fraudulent
count   14304.000000      14304.000000   14304.000000  14304.000000
mean        0.043554          0.794393       0.492799      0.049567
std         0.204108          0.404158       0.499966      0.217055
min         0.000000          0.000000       0.000000      0.000000
25%         0.000000          1.000000       0.000000      0.000000
50%         0.000000          1.000000       0.000000      0.000000
75%         0.000000          1.000000       1.000000      0.000000
max         1.000000          1.000000       1.000000      1.000000

## EDA